* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    /* background: #d8f2ea; */
    /* border-radius: 10px; */
}

#grid-form fieldset legend {
    font-size: 1.8rem;
}

#grid-form fieldset input,
#grid-form fieldset label,
#grid-form fieldset select {
    padding: 0 5px;
    font-size: 1.2rem;
}

#grid-form button {
    margin: 30px 0;
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: none;
}



.container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        ". grid-form grid-form grid-form ."
        "img1 img2 img3 img4 img5";
}

#grid-form {
    grid-area: grid-form;
}

#img3 {
    grid-area: img3;
}

#img2 {
    grid-area: img2;
}

#img1 {
    grid-area: img1;
}

#img4 {
    grid-area: img4;
}

#img5 {
    grid-area: img5;
}

.gradient-border {
    --borderWidth: 5px;
    background: #cde6f2;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}